.modal-wrapper {
  @apply px-5 pt-5 pb-0;
}
.title-tag {
  @apply text-[14px] font-medium leading-[20px] tracking-[0.2px] text-left;
}

/* Task Title and Description Text */
.task-title,
.task-description {
  color: #000;
  font-size: 1rem;
}

/* Placeholder style when the field is empty */
.placeholder {
  color: #94989e;
}

.create-button {
  @apply gap-2 ml-auto flex items-center text-sm [box-shadow:0px_3px_0px_0px_#3F2ABD] bg-[#533BE5] rounded-lg h-[34px] p-[10px] text-white;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
